/* CSS do Joca ;) */
*{
    margin: 0;
    padding: 0;
}
p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
}
h1 {
    font-size: 3.4em;
    line-height: 1em;
    padding-bottom: .3em;
}
h2 {
    font-size: 2.2em;
    line-height: 1em;
    margin-left: 1.5em;  
    margin-top: 2em;  
    color: #333;
}
h3 {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-bottom: .5em;
    color: #333;
}
a {
    text-decoration: none;
}
span {
    color: #2695EE;
}
small {
    color: #2695EE;
}
.link{
    color: #999;
}
.link:hover{
    transition: 0.3s;
    color: #333;
    text-decoration: underline;
}
body {
    color: #666;
    line-height: 1.5em;
    font-family: 'Ubuntu', sans-serif;
}
section {
    padding: 1em 1em 2em;
    display: flex;
    justify-content: center;
}
header {
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
header h1, p {
    max-width: 350px;
}
header p {
    padding-bottom: 2em;
}

/* navbar */
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #1e1e1e;
    z-index: 100;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type:none;
}
nav a {
    text-decoration: none;
    color: #fff;
    margin: 0.5em;
    padding: .8rem 1.2rem;
    border-bottom: solid 2px transparent;
}
nav a:hover {
    border-bottom: solid #2695EE;
    transition: 0.2s;
    text-decoration: none;
}
.logo {
    height: 50px;
    margin-left: 1em;
}
.line{
    height: .2em;
    width: 6em;
    background-color: #2695EE;
    margin: 2em 0 1em 0;
}
.line-rigth {
    background-color: #ddd;
    margin: 0 0 5em;
    height: .15em;
    width: 15em;
    float: right;
}

/* botões */
.btn{
    text-decoration: none;
    padding: 1em;
    color: #fff;
    background-color: #F0C64B;
    border-radius: 5px;
    border: solid 2px #fff;
    top: 0px;
}
.btn:hover{
    transition: 0.4s;
    position: relative;
    background-color: #D0A01A;
    top: -3px;
}
.btn-secundary{
    background-color: transparent;
}
.btn-secundary:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

/* colunas */
.row{
    width: 100%;
    max-width: 1200px;
    padding: 2em 1em;
    display: flex;
    justify-content: space-between;
}
.col{
    width: 100%;
    margin: .5em;
    padding: .5em 2em;
    border-radius: 5px;
}
.rowcards{
    overflow-x: scroll;
    display: flex;
    padding: 1em;
}
.card{
    overflow: hidden;
    border-radius: 5px;
    margin: 0 1em 1em 0;
    min-width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: solid .2em #fff;
    -webkit-box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
    position: relative;
}
.card:hover{
    transition: 0.6s;
    border-bottom: solid .2em #1e1e1e;
    top: -3px;
}
.info{
    padding: 1em;
    background-color: #fff;
    color: #666;
}
.covproj{
    background-size: cover;
    background-repeat: no-repeat;
}
.proj1{
    background-image: url("proj1.jpg");
}
.proj2{
    background-image: url("proj2.jpg");
}
.proj3{
    background-image: url("proj3.jpg");
}
.proj4{
    background-image: url("proj4.jpg");
}
.proj5{
    background-image: url("proj5.jpg");
}
.proj6{
    background-image: url("proj6.jpg");
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 2.6em;
        line-height: 1em;
        padding-bottom: .3em;
    }
    h2 {
        font-size: 1.6em;
        line-height: 1em;
        margin-left: 1em;  
        margin-top: 1.5em;  
        max-width: 250px;
    }
    h3 {
        font-size: 1.4em;
        line-height: 1.2em;
        margin-bottom: .5em;
        color: #333;
    }
    header{
        padding: 0 1em;
    }
    section{
        padding: 1em 0;
    }
    .row{
        padding: 1em .5em;
        flex-direction: column;
    }
    .col{
        width: auto;
        margin-bottom: 1.2em;
    }
}