/* CSS do Joca ;) */
:root {
    --blue: #2695EE;
}
*{
    margin: 0;
    padding: 0;
}
p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
}
h1 {
    font-size: 3.4em;
    line-height: 1em;
    padding-bottom: .3em;
}
h2 {
    font-size: 2.2em;
    line-height: 1.2em;
    margin-left: 1.5em;  
    margin-top: 2em;  
    color: #333;
}
h3 {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-bottom: .5em;
    color: #333;
}
h4 {
    line-height: 0;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
span {
    color: var(--blue);
}
small {
    color: var(--blue);
}
.link{
    color: #999;
}
.link:hover{
    transition: all 0.2s ease 0s;
    color: #333;
    text-decoration: underline;
}
body {
    position: relative;
    color: #666;
    line-height: 1.5em;
    font-family: 'Ubuntu', sans-serif;
}
img {
    width: 100%;
}
section {
    padding: 1em 1em 2em;
    display: flex;
    justify-content: center;
}
.sectionpost {
    margin: 3em 1em; 
    flex-direction: column;
    width: 100%;
    max-width: 750px;

}
header {
    height: 100vh;
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
header h1, p {
    max-width: 350px;
}
.headerpage h1, p {
    max-width: 800px;
}
header p {
    padding-bottom: .8em;
}
header .btn {
    margin-bottom: 2em;
}
header .link {
    color: #fff;
}
header .link:hover {
    color: #ccc;
}
footer{
    padding: 2em;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
}
.headerpage{
    height: 70vh;
    min-height: 450px;
    justify-content: flex-end;
}

/* navbar */
nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    z-index: 200;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type:none;
}
nav a {
    text-decoration: none;
    color: #999;
    margin: 0.5em;
    padding: .8rem 1.2rem;
}
nav a:hover {
    color: #fff;
    transition: all 0.2s ease 0s;
    text-decoration: none;
}
.action{
    padding: 1em;
    background-color: #2695EE;
    color: #fff;
    position: fixed;
    border-radius: 50%;
    z-index: 500;
    bottom: 1em;
    right: .5em;
}
.logo {
    height: 42px;   
    margin: .1em;
    width: auto;
}
.menuicon{
    display: none;
    z-index: 1000;
    margin-right: 1em;
}
.line{
    height: .2em;
    width: 6em;
    background-color: var(--blue);
    margin: 2em 0 1em 0;
}
.line-rigth {
    background-color: #ddd;
    height: .15em;
    width: 15em;
    position: absolute;
    right: 0;
}

/* botões */
.btn{
    text-decoration: none;
    padding: 1em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    top: 0px;
    margin-bottom: 1em;
}
.btn:hover{
    transition: all 0.2s ease 0s;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    top: -3px;
}
.btn-secundary{
    background-color: rgba(0, 0, 0, 0.2);
}
.btn-secundary:hover{
    transition: all 0.2s ease 0s;
    background-color: rgba(0, 0, 0, 0.5);
}

/* colunas */
.row{
    width: 100%;
    max-width: 1300px;
    padding: 2em 1em;
    display: flex;
    justify-content: space-between;
}
.col{
    width: 100%;
    margin: .5em;
    padding: .5em 2em;
    border-radius: 5px;
}
.col-acenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-jcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rowcards{
    overflow-x: scroll;
    display: flex;
    padding: 1em;
}
.card{
    overflow: hidden;
    border-radius: 5px;
    margin-right: 1em;
    min-width: 250px;
    height: 440px;
    -webkit-box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
}
.card-evento{
    overflow: hidden;
    border-radius: 5px;
    margin-right: 1em;
    min-width: 250px;
    padding: 1.5em;
    -webkit-box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
}
.card-select{
    position: relative;
    transition: all 0.2s ease 0s;
    top: 0;
    border-left: .2em solid #eee;   
    color: #666;
    padding-left: .2em;
}
.card-select:hover{
    border-left: .2em solid var(--blue);
    top: -.5em;
}
.info{
    padding: 1em .5em 0 .5em;
}
.perfil {
    height: 15em;
    width: 15em;
    border-radius: 50%;
    background-image: url("img/jocaperfil.jpg");
    background-size: cover;
    -webkit-box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 25px -3px rgba(0,0,0,0.15);
}
.covproj{
    background-size: cover;
    background-repeat: no-repeat;
}

/* Imagens dos sites */
.proj1{
    background-image: url("img/sites/proj1.jpg");
}
.proj2{
    background-image: url("img/sites/proj2.jpg");
}
.proj3{
    background-image: url("img/sites/proj3.jpg");
}
.proj4{
    background-image: url("img/sites/proj4.jpg");
}
.proj5{
    background-image: url("img/sites/proj5.jpg");
}
.proj6{
    background-image: url("img/sites/proj6.jpg");
}
.proj7{
    background-image: url("img/sites/proj7.jpg");
}

/* Imagens de branding */
.brand1{
    background-image: url("img/branding/brand1.jpg");
}
.brand2{
    background-image: url("img/branding/brand2.jpg");
}
.brand3{
    background-image: url("img/branding/brand3.jpg");
}
.brand4{
    background-image: url("img/branding/brand4.jpg");
}
.brand5{
    background-image: url("img/branding/brand5.jpg");
}
.brand6{
    background-image: url("img/branding/brand6.jpg");
}
.brand7{
    background-image: url("img/branding/brand7.jpg");
}
.brand8{
    background-image: url("img/branding/brand8.jpg");
}
.brand9{
    background-image: url("img/branding/brand9.jpg");
}
.brand10{
    background-image: url("img/branding/brand10.jpg");
}
.brand11{
    background-image: url("img/branding/brand11.jpg");
}
.brand12{
    background-image: url("img/branding/brand12.jpg");
}
.brand13{
    background-image: url("img/branding/brand13.jpg");
}
.post1{
    background-image: url("img/ifdesignbg.jpg");
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: #eee;
}
::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: #999;
}

/* Responsivo 900px */
@media only screen and (max-width: 900px) {
    ::-webkit-scrollbar {
    height: 4px;
}
    h1 {
        font-size: 2.6em;
        line-height: 1em;
        padding-bottom: .3em;
    }
    h2 {
        font-size: 1.6em;
        margin-left: 1em;  
        margin-top: 3em;  
        max-width: 250px;
    }
    h3 {
        font-size: 1.4em;
        line-height: 1.2em;
        margin-bottom: .5em;
        color: #333;
    }
    .logo {
        height: 32px;   
        margin: 1em;
    }
    .menuicon {
        display: block;
    }
    nav ul{
        display: none;
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 150;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #1e1e1e;
        top: 0;
    }
    nav a {
        text-decoration: none;
        color: #999;
        margin: 0; 
        padding: 0;
    }
    nav a:hover {
        color: #fff;
        transition: all 0.2s ease 0s;
        text-decoration: none;
    }
    header{
        padding: 0 1em;
    }
    header p {
        padding-bottom: .3em;
    }
    header .btn {
        margin-bottom: 1em;
    }
    .headerpage{
        height: 45vh;
        min-height: 350px;
        justify-content: flex-end;
    }
    section{
        padding: 1em 0;
    }
    .row{
        padding: 1em .5em;
        flex-direction: column;
    }
    .col{
        width: auto;
        margin-bottom: 1.2em;
    }
    .card{
        margin-right: .5em;
        min-width: 180px;
        height: 320px;
    }
    .card-select{
        position: relative;
        transition: all 0.2s ease 0s;
        top: 0;
        border-left: .2em solid transparent;   
        padding-left: .2em;
    }
    .card-select:hover{
        border-left: .2em solid transparent;
        top: 0;
    }
}